<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404未找到页面</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
</head>
<style>
    *,
    html,
    body {
        padding: 0;
        margin: 0;
    }

    html,
    body,
    .container {
        width: 100%;
        height: 100%;
    }
</style>

<body>
    <div class="container">
        <div class="layui-fluid" style="width: 100%;height: 100%;padding: 0;">
            <div style="text-align: center;width: 100%;height: 100%;">
                <div style="padding-top: 100px;">
                    <i class="layui-icon layui-icon-face-cry" style="font-size: 300px;color: #393d49;"></i>
                </div>
                <div>
                    <hr class="layui-border-green" style="width: 400px;margin-left: calc(50% - 200px);">
                    <h1>
                        <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                        <span class="layui-anim layui-anim-loop layui-anim-rotate"
                            style="display: inline-block;">0</span>
                        <span class="layui-anim layui-anim-loop layui-anim-">4</span>
                    </h1>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
