<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资产管理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
    <script tyle="text/javascript" src="{{ url_for('static', filename='layui/layui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
</head>

<style>
    .cloud-card-component .layui-row .ew-datagrid-item {
        width: 25%;
        float: left;
    }

    .cloud-card-component::after {
        clear: both;
    }

    #showManage {
        display: none;
    }

    .showEchart {
        height: 180px;
        width: 100%;
    }

    .showEchart::after {
        clear: both;
    }

    .echart {
        float: left;
        width: 33%;
        height: 100%;
    }

    #prefix .layui-unselect {
        height: 30px;
        margin-top: -11px;
    }

    #prefix .layui-select-title {
        height: 20px;
    }

    #prefix .layui-select-title input {
        margin-top: 8px;
        height: 32px;
    }

    #prefix .layui-select-title .layui-edge {
        top: 56%;
    }

    #select_group .layui-unselect {
        line-height: 32px;
        height: 32px;
    }

    /* 设置滚动条样式 */
    .layui-anim-upbit::-webkit-scrollbar {
        display: none;
    }

    /* 设置滚动条样式 */
    .layui-table-tool-panel::-webkit-scrollbar {
        display: none;
    }
</style>

<body>
    <div>
        <div id="showAllManage">
            <form class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <!-- 标题输入栏 -->
                        <div class="layui-input-group">
                            <div class="layui-input-split layui-input-prefix"> 标 题 </div>
                            <input type="text" name="tableName" id="tableName" placeholder="" class="layui-input"
                                autocomplete="off">
                        </div>
                        <!-- 展示关键字 -->
                        <div id="showkeyword"
                            style="display: none;position: absolute;width: 195px;height: auto;margin-left: 53px;z-index: 9999;background-color: white;border: 1px solid rgb(238, 238, 238);">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <!-- 搜索按钮 -->
                        <button type="button" class="layui-btn layui-btn-primary" lay-submit lay-filter="search">
                            <i class="layui-icon">&#xe615;</i> 搜 索
                        </button>
                        <!-- 新建资产表按钮 -->
                        <button type="button" class="layui-btn" lay-submit lay-filter="addTable"
                            style="margin-left: 250px;">
                            <i class="layui-icon"></i>新建资产表
                        </button>
                    </div>
                </div>
            </form>
            <!-- 面板展示所有资产表 -->
            <div id="manageTable" lay-filter="manageTable"></div>
        </div>
        <div id="showManage">
            <!-- 新建图表规则 -->
            <div>
                <a href="javascript:;" class="layui-icon layui-icon-addition"
                    style="border: 1px solid black;padding: 2px;border-radius: 50%;margin-top: 65px;position: absolute;right: 20px;z-index: 9999;"
                    id="newRule"></a>
            </div>
            <div class="showEchart">
                <!-- 图表展示设置,自定义图表展示规则 -->
                <div class="echart" id="chart0">
                    <img src="/crm/api/v1/images/nodata" alt="暂无数据" style="width: 80%;height: 100%;">
                </div>
                <div class="echart" id="chart1">
                    <img src="/crm/api/v1/images/nodata" alt="暂无数据" style="width: 80%;height: 100%;">
                </div>
                <div class="echart" id="chart2">
                    <img src="/crm/api/v1/images/nodata" alt="暂无数据" style="width: 80%;height: 100%;">
                </div>
            </div>
            <!-- 展示具体资产表 -->
            <div>
                <table class="layui-hide" id="manage" lay-filter="manage"></table>
            </div>
        </div>
    </div>
</body>

<script type="text/javascript">
    layui.config({
        base: "{{ url_for('static', filename='layui/ext/') }}"
    }).extend({
        cardTable: "cardTable/cardTable"
    }).use(["layer", "cardTable", "jquery", "table", "form", "dropdown", "upload", "laydate"], () => {
        const form = layui.form;
        const layer = layui.layer;
        const table = layui.table;
        const $ = layui.jquery;
        const dropdown = layui.dropdown;
        const cardTable = layui.cardTable;
        const upload = layui.upload;
        const laydate = layui.laydate;

        var tableUid = "";   // 资产表id
        var loadIndex = "";  // loading

        // 渲染资产表列表
        var currentTable = cardTable.render({
            elem: "#manageTable",
            url: "/crm/api/v1/manage/query",
            height: "full-35",
            loading: true,
            limit: 3,
            linenum: 4,
            currentPage: 1,
            page: true,
            image: false,
            layout: ["count", "prev", "page", "next", "limit", "skip"],
            response: {
                statusName: "code",
                statusCode: 0,
                msgName: "message",
                countName: "message.total",
                dataName: "message.data"
            },
            done: () => { }
        });

        /**
         * @description 重载卡片表格
        */
        function reloadCardTable () {
            cardTable.reload("manageTable");
        }

        window.reloadCardTable = window.reloadCardTable || reloadCardTable;

        /**
         * @description 渲染资产表
         * @param {String} tableUid 资产表id
         * @param {Object} jumpCondition 跳转条件
        */
        function loadManageTable (tableUid, jumpCondition) {
            localStorage.setItem("tableUid", tableUid);  // 将id存储到本地
            localStorage.setItem("condition", null);     // 清空筛选条件
            localStorage.setItem("ip_col", null);        // 清空IP列信息
            localStorage.setItem("header", null);        // 清空header信息
            let header = [];                           // 初始化header
            // 获取header
            $.ajax({
                url: `/crm/api/v1/manage/header?id=${tableUid}`,
                type: "GET",
                async: false,  // 使用同步请求
                success: (res) => {
                    if (res.code === 0) {
                        header = res.message;
                        let obj = new Object();
                        obj[tableUid] = header;
                        localStorage.setItem("header", JSON.stringify(obj));  // 本地存储header信息
                    } else if (res.code === 302) {
                        window.parent.redirectPage(res.message);
                    } else {
                        layer.msg(res.message, { icon: 2 });
                    }
                    return false;
                },
                error: (err) => {
                    let errMsg = err.responseJSON || JSON.parse(err.responseText);
                    layer.msg(errMsg.message, { icon: 2 });
                    return false;
                }
            });

            let option_templ = "";          // 选项模板
            let select_header = new Object(); // 下拉列表信息
            header.forEach((item) => {
                option_templ += `<option value="${item.field}">${item.title}</option>`;
                select_header[item.field] = item.col_type === 1 ? { "type": item.col_type, "value_type": item.value_type } : { "type": item.col_type, "value_type": item.value_type, "options": item.option };
                if (item.is_ip) {
                    localStorage.setItem("ip_col", JSON.stringify({ "field": item.field, "title": item.title }));
                }
            });

            // 加载资产表数据
            table.render({
                elem: "#manage",
                id: "manage",
                url: `/crm/api/v1/manage/${tableUid}`,
                toolbar: `<div class="layui-clear-space">
                            <div style="display: inline-block; margin-right: 10px;">
                                <a class="layui-btn layui-btn-sm" lay-event="add">录入数据</a>
                                <a class="layui-btn layui-btn-sm" style="margin-left: -3px;" id="dropdownBtn"><i class="layui-icon layui-icon-down layui-font-12"></i></a>
                            </div>
                            <a type="button" class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="edit" id="edit">编辑选中的数据</a>
                            <a type="button" class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="del" id="del">删除选中的数据</a>
                            <div style="width: 530px;display: inline-block; height: 20px;margin-left: 15px;">
                                <div class="layui-input-group">
                                    <div class="layui-input-split layui-input-prefix" style="width: 140px;padding: 0;height: 30px;border: none;" id="prefix">
                                        <select name="utype" id="utype" lay-filter="utype">
                                            ${option_templ}    
                                        </select>
                                    </div>
                                    <div id="select_group">
                                        <input type="text" placeholder="搜索相关内容" name="keywords" class="layui-input" style="height: 32px;">
                                    </div>
                                    <div class="layui-input-split layui-input-suffix" style="cursor: pointer;width: 30px;height: 30px;" id="searchData">
                                        <i class="layui-icon layui-icon-search"></i>
                                    </div>
                                    <div class="layui-input-split layui-input-suffix" style="cursor: pointer;width: 30px;height: 30px;" id="refreshData">
                                        <i class="layui-icon layui-icon-refresh"></i>
                                    </div>
                                </div>
                            </div>
                        </div>`,
                cellMinWidth: 80,
                loading: true,
                height: "full-185",
                page: {
                    layout: ["limit", "count", "prev", "page", "next", "skip"],
                    curr: 1,
                    groups: 5
                },
                limit: 8,
                limits: [8],
                totalRow: true,
                where: jumpCondition || {},  // 筛选条件
                parseData: (res) => {
                    if (res.code === 302) {
                        window.parent.redirectPage(res.message);
                        return false;
                    }
                    return {
                        "code": res.code,
                        "msg": res.code === 0 ? "" : res.message,
                        "count": res.message.total,
                        "data": res.message.data
                    }
                },
                cols: [[{ checkbox: true, fixed: true }].concat(header)],
                defaultToolbar: [
                    "filter",
                    { title: "绑定IP列", layEvent: "LAYTABLE_BIND", icon: "layui-icon-link" },
                    { title: "批量探测", layEvent: "LAYTABLE_PROBE", icon: "layui-icon-wifi" },
                    { title: "到期提醒", layEvent: "LAYTABLE_NOTICE", icon: "layui-icon-notice" },
                    { title: "编辑|新增字段", layEvent: "LAYTABLE_TIPS", icon: "layui-icon-edit" },
                    { title: "导出表格", layEvent: "LAYTABLE_EXPORT", icon: "layui-icon-export" },
                    { title: "导入导出详情", layEvent: "LAYTABLE_DETAIL", icon: "layui-icon-time" }
                ],
                done: () => {
                    // select选择事件
                    form.on("select(utype)", (data) => {
                        let value = data.value;  // 获取选中的值
                        if (select_header[value].type === 2) {  // 如果是下拉列表
                            $("#select_group").html(`
                                <div class="layui-input-inline" style="width: 120px;height: 34px;">
                                    <select name="${value}" id="${value}">
                                        ${Object.keys(select_header[value].options).map((item) => { return `<option value="${item}">${select_header[value].options[item]}</option>`; }).join("")}
                                    </select>
                                </div>
                            `);
                            form.render($(`#${value}`));      // 渲染下拉列表
                            // 搜索数据
                            $("#searchData").on("click", () => {
                                let u = $("#utype").val();
                                let k = $(`#${value}`).val();
                                if (k.length > 0) {
                                    k = select_header[value].options[k];
                                    localStorage.setItem("condition", JSON.stringify({ "type": 2, "key": u, "value": k }));
                                    table.reloadData("manage", {
                                        where: {
                                            "type": 2,
                                            "key": u,
                                            "value": k
                                        }
                                    });
                                }
                            });
                        } else if (select_header[value].value_type === 4) {  // 如果是日期
                            $("#select_group").html(`
                                <div class="layui-input-inline" style="width: 225px;">
                                    <div style="width: 100px;height: 34px;" class="layui-input-inline">
                                        <select id="compare" name="compare">
                                            <option value="eq">等于</option>
                                            <option value="gt">大于</option>
                                            <option value="lt">小于</option>
                                            <option value="ge">大于等于</option>
                                            <option value="le">小于等于</option>
                                            <option value="ne">不等于</option>
                                        </select>
                                    </div>
                                    <input type="text" class="layui-input" id="select_group_date" placeholder="yyyy-MM-dd" style="display: inline-block;width: 120px;height: 34px;">
                                </div>`
                            );
                            form.render($("#compare"));
                            laydate.render({  // 渲染日期选择器
                                elem: "#select_group_date"
                            });
                            $("#searchData").on("click", () => {
                                let u = $("#utype").val();
                                let k = $("#select_group_date").val();
                                if (k.length > 0) {
                                    localStorage.setItem("condition", JSON.stringify({ "type": 3, "key": u, "value": k, "c": $("#compare").val() }));
                                    table.reloadData("manage", {
                                        where: {
                                            "type": 3,
                                            "key": u,
                                            "c": $("#compare").val(),
                                            "value": k
                                        }
                                    });
                                }
                            });
                        } else if (select_header[value].value_type === 5) {  // 如果是时间
                            $("#select_group").html(`
                                <div class="layui-input-inline" style="width: 305px;">
                                    <div style="width: 100px;height: 34px;" class="layui-input-inline">
                                        <select id="compare" name="compare">
                                            <option value="eq">等于</option>
                                            <option value="gt">大于</option>
                                            <option value="lt">小于</option>
                                            <option value="ge">大于等于</option>
                                            <option value="le">小于等于</option>
                                            <option value="ne">不等于</option>
                                        </select>
                                    </div>
                                    <input type="text" class="layui-input" id="select_group_time" placeholder="yyyy-MM-dd HH:mm:ss" style="display: inline-block;width: 200px;height: 34px;">
                                </div>`
                            );
                            form.render($("#compare"));
                            laydate.render({
                                elem: "#select_group_time",
                                type: "datetime"
                            });
                            $("#searchData").on("click", () => {
                                let u = $("#utype").val();
                                let k = $("#select_group_time").val();
                                if (k.length > 0) {
                                    localStorage.setItem("condition", JSON.stringify({ "type": 3, "key": u, "value": k, "c": $("#compare").val() }));
                                    table.reloadData("manage", {
                                        where: {
                                            "type": 3,
                                            "key": u,
                                            "c": $("#compare").val(),
                                            "value": k
                                        }
                                    });
                                }
                            });
                        } else {
                            $("#select_group").html(`<input type="text" placeholder="搜索相关内容" name="keywords" class="layui-input" style="height: 32px;">`);
                            form.render($("#select_group"));
                            // 搜索
                            $("#searchData").on("click", () => {
                                let u = $("#utype").val();
                                let k = $("input[name='keywords']").val();
                                if (k.length > 0) {
                                    localStorage.setItem("condition", JSON.stringify({ "type": 1, "key": u, "value": k }));
                                    table.reloadData("manage", {
                                        where: {
                                            "key": u,
                                            "value": k
                                        }
                                    });
                                }
                            });
                        }
                    });
                    // 刷新数据
                    $("#refreshData").on("click", () => {
                        table.reloadData("manage", {
                            where: {}
                        });
                        localStorage.setItem("condition", "");
                    });
                    // 下拉按钮选项
                    dropdown.render({
                        elem: "#dropdownBtn",
                        content: `<div style="width: 117.7px;">
                                    <button type="button" class="layui-btn layui-btn-primary layui-border layui-btn-sm" id="downTempl">下载资产录入模板</button>
                                    <button type="button" class="layui-btn layui-btn-sm" style="margin-left: 0px;" id="importDataByExcel">导入资产录入模板</button>
                                  </div>`,
                        ready: () => {
                            // 下载模板导入文件
                            $("#downTempl").on("click", () => {
                                $.ajax({
                                    url: `/crm/api/v1/manage/template?id=${tableUid}`,
                                    type: "GET",
                                    beforeSend: () => {
                                        loadIndex = layer.load(2);
                                    },
                                    success: (res) => {
                                        layer.close(loadIndex);
                                        if (res.code === 0) {
                                            let target = document.createElement("a");
                                            target.href = `/crm/api/v1/file/${res.message.fileuuid}`;
                                            target.download = res.message.filename;
                                            document.body.appendChild(target);
                                            target.click();
                                            document.body.removeChild(target);
                                        } else if (res.code === 302) {
                                            window.parent.redirectPage(res.message);
                                        } else {
                                            layer.msg(res.message, { icon: 2 });
                                        }
                                        return false;
                                    },
                                    error: (err) => {
                                        layer.close(loadIndex);
                                        let errMsg = err.responseJSON || JSON.parse(err.responseText);
                                        layer.msg(errMsg.message, { icon: 2 });
                                        return false;
                                    }
                                });
                            });
                            // 导入模板数据
                            upload.render({
                                elem: "#importDataByExcel",
                                url: "/crm/api/v1/upload",
                                accept: "file",
                                acceptMime: "application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet",
                                exts: "xls|xlsx",
                                done: (res) => {
                                    if (res.code == 0) {
                                        $.ajax({
                                            url: "/crm/api/v1/manage/import",
                                            type: "POST",
                                            contentType: "application/json;charset=utf-8",
                                            data: JSON.stringify({
                                                "file_uuid": res.message,
                                                "table_id": tableUid
                                            }),
                                            success: (r) => {
                                                if (r.code === 0) {
                                                    // 显示导入进度
                                                    window.parent.showProgress(r.message);
                                                } else if (r.code === 302) {
                                                    window.parent.redirectPage(res.message);
                                                }
                                                return false;
                                            },
                                            error: (e) => {
                                                layer.msg("表格导入数据失败", { icon: 2 });
                                                return false;
                                            }
                                        });
                                    } else if (res.code === 302) {
                                        window.parent.redirectPage(res.message);
                                    } else {
                                        layer.msg(`失败: ${res.message}`, { icon: 2 });
                                    }
                                    return false;
                                },
                                error: (err) => {
                                    layer.msg("表格导入数据失败", { icon: 2 });
                                    return false;
                                }
                            });
                        }
                    });
                }
            });

            showCharts(tableUid);           // 展示图表

            return false;
        }

        window.loadManageTable = window.loadManageTable || loadManageTable;

        // 点击表格显示资产表详情
        currentTable.on("row(manageTable)", (obj) => {
            $("#showAllManage").hide(); // 隐藏资产表列表
            $("#showManage").show();    // 显示具体资产表表格

            tableUid = obj.value.id;    // 表格的id

            loadManageTable(tableUid);
        });

        // 2024/07/10功能需求: 右键跳转到指定资产表数据
        // 表格右键事件
        table.on("rowContextmenu(manage)", (obj) => {
            if (localStorage.getItem("ip_col")) {
                let data = obj.data;
                document.addEventListener("contextmenu", (e) => {
                    e.preventDefault();  // 阻止浏览器默认的右键菜单事件
                });
                $.ajax({
                    url: "/crm/api/v1/manage/all",
                    type: "GET",
                    async: false,  // bugfix: 如果是true菜单加载不出来
                    success: (res) => {
                        if (res.code === 0) {
                            // 鼠标右键操作
                            dropdown.render({
                                trigger: "contextmenu",
                                show: true,
                                style: "width: 200px;height:232.55px;overflow:auto;",
                                data: res.message,
                                click: (obj) => {
                                    if (obj.id) {
                                        let ip_col = JSON.parse(localStorage.getItem("ip_col"));
                                        $.ajax({
                                            url: `/crm/api/v1/manage/ip_col?id=${obj.id}&ip_col=${ip_col.title}`,
                                            type: "GET",
                                            success: (res) => {
                                                if (res.code === 0) {
                                                    loadManageTable(obj.id, { "key": res.message, "value": data[ip_col.field], "c": "eq" });
                                                } else if (res.code === 302) {
                                                    window.parent.redirectPage(res.message);
                                                }
                                                return false;
                                            },
                                            error: (err) => {
                                                let errMsg = err.responseJSON || JSON.parse(err.responseText);
                                                layer.msg(errMsg.message, { icon: 2 });
                                                return false;
                                            }
                                        });
                                    }
                                }
                            });
                        } else if (res.code === 302) {
                            window.parent.redirectPage(res.message);
                        }
                        return false;
                    },
                    error: (err) => {
                        console.log(err);
                        return false;
                    }
                });
            } else {
                layer.msg("请先配置IP地址字段", { icon: 2 });
            }
        });

        // 表格复选框触发事件
        table.on("checkbox(manage)", (obj) => {
            let id = obj.config.id;
            let checkStatus = table.checkStatus(id);
            if (checkStatus.data.length > 0) {  // 选中数据则展示编辑和删除按钮
                $("#del").removeClass("layui-btn-disabled");
                $("#edit").removeClass("layui-btn-disabled");
            } else {
                $("#del").addClass("layui-btn-disabled");
                $("#edit").addClass("layui-btn-disabled");
            }
        });

        // 工具栏事件
        table.on("toolbar(manage)", (obj) => {
            let id = obj.config.id;
            let checkStatus = table.checkStatus(id);
            switch (obj.event) {
                case "add":   // 录入数据
                    window.parent.addOrEditData(null);
                    break;
                case "edit":  // 行编辑
                    if (checkStatus.data.length > 1) {
                        layer.msg("不支持批量编辑", { icon: 2 });
                        return false;
                    }
                    window.parent.addOrEditData(checkStatus.data[0]);
                    break;
                case "del":              // 删除数据
                    window.parent.delColData(checkStatus.data);
                    break;
                case "LAYTABLE_PROBE":   // 批量ping
                    window.parent.mulitDetect();
                    break;
                case "LAYTABLE_NOTICE":  // 新建通知
                    window.parent.createNotify();
                    break;
                case "LAYTABLE_TIPS":    // 新增或修改列属性
                    window.parent.addOrAlterCol();
                    break;
                case "LAYTABLE_EXPORT":  // 导出表格
                    // 判断当前是否有筛选
                    window.parent.exportTableData();
                    break;
                case "LAYTABLE_DETAIL":  // 查询历史记录
                    window.parent.showHistory();
                    break;
                case "LAYTABLE_BIND":    // 绑定IP列
                    window.parent.bindIP();
                    break;
            }
        });

        /**
         * @description 防抖
         * @param {Function} func 函数
         * @param {Number} wait 延迟时间
         * @param {Boolean} immediate 是否立即执行
        */
        function debounce (func, wait, immediate) {
            let timeout;
            return function () {
                let context = this, args = arguments;
                let later = function () {
                    timeout = null;
                    if (!immediate) func.apply(context, args);
                };
                let callNow = immediate && !timeout;
                clearTimeout(timeout);
                timeout = setTimeout(later, wait);
                if (callNow) func.apply(context, args);
            };
        }

        /**
         * @description 根据标题搜索资产表
        */
        function searchTable () {
            let value = $("#tableName").val();
            if (value) {
                $.ajax({
                    url: `/crm/api/v1/manage/title?k=${value}`,
                    type: "GET",
                    success: (res) => {
                        if (res.code === 0) {
                            if (res.message.length > 0) {
                                let keyword_templ = "";
                                res.message.forEach((item) => {
                                    keyword_templ += `<div style="padding: 10px;cursor: pointer;">${item}</div>`;
                                });
                                $("#showkeyword").html(keyword_templ);
                                $("#showkeyword").show();
                                $("#showkeyword div").on("click", function () {
                                    $("#tableName").val($(this).text());
                                    $("#showkeyword").hide();
                                });
                            } else {
                                $("#showkeyword").hide();
                            }
                        } else if (res.code === 302) {
                            window.parent.redirectPage(res.message);
                        }
                        return false;
                    },
                    error: () => {
                        return false;
                    }
                });
            }
        }

        // 搜索提示
        let debouncedSearch = debounce(searchTable, 300);
        $("#tableName").keyup(debouncedSearch);

        // 搜索标题
        form.on("submit(search)", (data) => {
            let field = data.field;
            if (field.tableName) {
                // 重载cardTable
                cardTable.reload("manageTable", {
                    where: {
                        title: field.tableName
                    },
                });
            }
            return false;
        });

        // 新增资产表
        form.on("submit(addTable)", () => {
            window.parent.addNewTable(tableUid);
            return false;
        });

        /**
         * @description 显示图表
        */
        function showCharts (tableUid) {
            // 请求图表配置
            $.ajax({
                url: `/crm/api/v1/manage/echart?id=${tableUid}`,
                type: "GET",
                success: (res) => {
                    if (res.code === 0) {
                        res.message.forEach((item, index) => {
                            $(`#chart${index}`).empty();  // 清除内容
                            $(`#chart${index}`).removeAttr("style");  // 清除div上样式
                            $(`#chart${index}`).removeAttr("_echarts_instance_");  // 清除echarts实例标识
                            let chartDom = document.getElementById(`chart${index}`);
                            let myChart = echarts.init(chartDom);
                            myChart.setOption(item);
                        });
                    } else if (res.code === 302) {
                        window.parent.redirectPage(res.message);
                    }
                    return false;
                },
                error: (err) => {
                    console.log(err);
                    return false;
                }
            });
        }

        window.showCharts = window.showCharts || showCharts;

        // 获取echarts方法
        function getEchartMethod () {
            return echarts;
        }

        window.getEchartMethod = window.getEchartMethod || getEchartMethod;

        // 刷新数据
        function refreshData () {
            table.reloadData("manage");
        }

        window.refreshData = window.refreshData || refreshData;

        // 新建或者编辑规则
        $("#newRule").on("click", () => {
            window.parent.addNewRule();
            return false;
        });

    });
</script>

</html>
