<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>资产管理</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
    <script tyle="text/javascript" src="{{ url_for('static', filename='layui/layui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/lodash.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/echarts.min.js') }}"></script>
</head>
<style>
    .cloud-card-component .layui-row .ew-datagrid-item {
        width: 25%;
        float: left;
    }

    .cloud-card-component::after {
        clear: both;
    }

    #showManage {
        display: none;
    }

    .showEchart {
        height: 180px;
        width: 100%;
    }

    .showEchart::after {
        clear: both;
    }

    .echart {
        float: left;
        width: 33%;
        height: 100%;
    }

    #prefix .layui-unselect {
        height: 30px;
        margin-top: -11px;
    }

    #prefix .layui-select-title {
        height: 20px;
    }

    #prefix .layui-select-title input {
        margin-top: 9px;
        height: 32px;
    }
</style>

<body>
    <div>
        <div id="showAllManage">
            <form action="" class="layui-form layui-form-pane">
                <div class="layui-form-item">
                    <div class="layui-inline">
                        <div class="layui-input-group">
                            <div class="layui-input-split layui-input-prefix"> 标 题 </div>
                            <input type="text" name="tableName" id="tableName" placeholder="" class="layui-input"
                                autocomplete="off">
                        </div>
                    </div>
                    <div class="layui-inline">
                        <button type="button" class="layui-btn layui-btn-primary" lay-submit lay-filter="search">
                            <i class="layui-icon">&#xe615;</i> 搜 索
                        </button>
                        <button type="button" class="layui-btn" lay-submit lay-filter="addTable"
                            style="margin-left: 250px;">
                            <i class="layui-icon"></i>新建资产表
                        </button>
                    </div>
                </div>
            </form>
            <!-- 面板展示所有资产表 -->
            <div id="manageTable" lay-filter="manageTable"></div>
        </div>
        <div id="showManage">
            <!-- 新建图表规则 -->
            <div>
                <a href="javascript:;" class="layui-icon layui-icon-addition"
                    style="border: 1px solid black;padding: 2px;border-radius: 50%;margin-top: 5px;position: absolute;right: 20px;z-index: 9999;"
                    id="newRule"></a>
            </div>
            <div class="showEchart">
                <div class="echart"></div>
                <div class="echart"></div>
                <div class="echart"></div>
                <!-- 图表展示设置,自定义图表展示规则,三个 -->
            </div>
            <div>
                <table class="layui-hide" id="manage" lay-filter="manage"></table>
            </div>
        </div>
    </div>
</body>
<!-- 表格头部工具栏 -->
<script type="text/html" id="toolBar">
  <div class="layui-clear-space">
    <div style="display: inline-block; margin-right: 10px;">
        <a class="layui-btn layui-btn-sm" lay-event="add">录入数据</a>
        <a class="layui-btn layui-btn-sm" style="margin-left: -3px;" id="dropdownBtn"><i class="layui-icon layui-icon-down layui-font-12"></i></a>
    </div>
    <a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="edit" id="edit">编辑选中的数据</a>
    <a class="layui-btn layui-btn-sm layui-btn-disabled" lay-event="del" id="del">删除选中的数据</a>
    <!-- 搜索 -->
    <div style="width: 400px;display: inline-block; height: 20px;margin-left: 15px;">
        <div class="layui-input-group">
            <div class="layui-input-split layui-input-prefix" style="width: 120px;padding: 0;height: 30px;" id="prefix">
                <select name="utype">
                    <option value="id">ID</option>
                    <option value="name">主机名称</option>
                </select>
            </div>
            <input type="text" placeholder="搜索相关内容" name="keywords" class="layui-input" style="height: 32px;">
            <div class="layui-input-split layui-input-suffix" style="cursor: pointer;width: 30px;height: 30px;">
                <i class="layui-icon layui-icon-search"></i>
            </div>
        </div>
    </div>
  </div>
</script>
<script type="text/javascript">
    layui.config({
        base: "{{ url_for('static', filename='layui/ext/') }}"
    }).extend({
        cardTable: 'cardTable/cardTable'
    }).use(["layer", "cardTable", "jquery", "table", "form", "dropdown"], function () {
        const form = layui.form;
        const layer = layui.layer;
        const table = layui.table;
        const $ = layui.jquery;
        const dropdown = layui.dropdown;
        const cardTable = layui.cardTable;
        var tableUid = "";

        var currentTable = cardTable.render({
            elem: "#manageTable",
            url: "/crm/api/v1/manage/query",
            height: "full-35",
            loading: true,
            limit: 3,
            linenum: 4,
            currentPage: 1,
            page: true,
            image: false,
            layout: ["count", "prev", "page", "next", "limit", "skip"],
            response: {
                msgName: "message",
                countName: "message.total",
                dataName: "message.data"
            },
            done: function () {

            }
        });

        currentTable.on('row(manageTable)', function (obj) {
            tableUid = obj.value.id;  // 表格的id
            $("#showAllManage").hide()
            $("#showManage").show();
            showCharts();
            table.render({
                elem: "#manage",
                url: "/crm/api/v1/manage/" + tableUid,
                toolbar: '#toolBar',
                defaultToolbar: [
                    { title: "批量探测", layEvent: "LAYTABLE_PROBE", icon: "layui-icon-wifi" },
                    { title: "到期提醒", layEvent: "LAYTABLE_NOTICE", icon: "layui-icon-notice" },
                    { title: "新增字段", layEvent: "LAYTABLE_TIPS", icon: "layui-icon-edit" },
                    "filter",
                    { title: "导出", layEvent: "LAYTABLE_EXPORT", icon: "layui-icon-export" }
                ],
                height: "full-185",
                page: {
                    layout: ["limit", "count", "prev", "page", "next", "skip"],
                    curr: 1,
                    groups: 1
                },
                limit: 6,
                limits: [6],
                totalRow: true,
                parseData: function (result) {
                    return {
                        "code": result.code,
                        "msg": result.code === 0 ? "" : result.message,
                        "count": result.message.total,
                        "data": result.message.data
                    }
                },
                cols: [[
                    { checkbox: true, fixed: true },
                    { field: "id", title: "ID" },
                    { field: "ip", title: "IP" },
                    { field: "name", title: "主机名称" }
                ]],
                done: function () {
                    // 下拉按钮选项
                    dropdown.render({
                        elem: "#dropdownBtn",
                        show: true,
                        data: [
                            {
                                id: "downTempl",  // 下载资产表录入模板表格
                                title: "下载资产录入模板"
                            }, {
                                id: "importDataByExcel",  // 导入资产表录入模板表格
                                title: "导入资产录入模板"
                            }
                        ],
                        click: function (obj) {
                            switch (obj.id) {
                                case "downTempl":
                                    $.ajax({
                                        url: "" + tableUid,
                                        type: "get",
                                        success: function (data) {
                                            let target = document.createElement("a");
                                        }
                                    });
                                    break;
                                case "importDataByExcel":
                                    // layer.open();  // 显示导入进度
                                    break;
                            }
                        }
                    });
                }
            });
            return false;
        });

        // 表格复选框触发事件
        table.on('checkbox(manage)', function (obj) {
            let id = obj.config.id;
            let checkStatus = table.checkStatus(id);
            if (checkStatus.data.length > 0) {
                $("#del").removeClass("layui-btn-disabled");
                $("#edit").removeClass("layui-btn-disabled");
            } else {
                $("#del").addClass("layui-btn-disabled");
                $("#edit").addClass("layui-btn-disabled");
            }
        });

        // 工具栏事件
        table.on('toolbar(manage)', function (obj) {
            let id = obj.config.id;
            let checkStatus = table.checkStatus(id);
            switch (obj.event) {
                case "add":  // 录入数据
                    window.parent.addNewData(tableUid);
                    break;
                case "edit":
                    if (checkStatus.data.length > 1) {
                        layer.msg("不支持批量编辑", { icon: 2 });
                        return
                    }
                    layer.open({
                        type: 1,
                        title: "编辑",
                        area: ["500px", "300px"]
                    });
                    break;
                case "LAYTABLE_PROBE":
                    window.parent.mulitDetect(tableUid);
                    break;
                case "LAYTABLE_NOTICE":
                    window.parent.createNotify(tableUid);
                    break;
                case "LAYTABLE_TIPS":
                    window.parent.addNewCol(tableUid);
                    break;
                case "LAYTABLE_EXPORT":
                    $.ajax({
                        url: "",
                        type: "get",
                        success: function (data) { }
                    });
                    break;
            }
        });

        // 搜索标题
        form.on("submit(search)", function (data) {
            let field = data.field;
            if (field.tableName) {
                // 重载cardTable
                cardTable.reload("manageTable", {
                    where: queryJson,
                });
            }
            return false;
        });

        form.on("submit(addTable)", function () {
            window.parent.addNewTable(tableUid);
            return false;
        });

        function showCharts () {
            // 请求图表配置
            // $.ajax()
            document.querySelectorAll(".echart").forEach((item) => {
                // let config = JSON.parse();  // 解析配置
                // confg.series[0].data = "" // 填充数据
                let myChart = echarts.init(item);
                let option = {
                    title: {
                        text: "1",
                        subtext: "2",
                        left: "center"
                    },
                    tooltip: {
                        trigger: "item"
                    },
                    legend: {
                        orient: "vertical",
                        left: "left"
                    },
                    series: [
                        {
                            name: "4",
                            type: "pie",
                            radius: "50%",
                            data: [
                                { value: 1048, name: 'Search Engine' },
                                { value: 735, name: 'Direct' },
                                { value: 580, name: 'Email' },
                                { value: 484, name: 'Union Ads' },
                                { value: 300, name: 'Video Ads' }
                            ],
                            emphasis: {
                                itemStyle: {
                                    shadowBlur: 10,
                                    shadowOffsetX: 0,
                                    shadowColor: 'rgba(0, 0, 0, 0.5)'
                                }
                            }
                        }
                    ]
                }
                option && myChart.setOption(option);
            });
        }

        $("#newRule").on("click", function () {
            // 新建或者编辑规则
            window.parent.addNewRule();
            return false;
        });

        // 只有在新建用户、新建资产中点击创建时开始bind
        // window.addEventListener("beforeunload", () => {
        //     if (isEdit) {
        //         layer.msg("检测到你有未保存的信息,是否保存")
        //     }
        // });
        // 其他时候取消事件绑定unbind

    });
</script>

</html>
