<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
    <link rel="shortcut icon" href="{{ url_for('static', filename='icon/favicon.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='layui/css/layui.css') }}">
    <script tyle="text/javascript" src="{{ url_for('static', filename='layui/layui.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='driver/driver-min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/js-cookie.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/watermark.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='driver/driver.css') }}">
</head>

<style>
    *,
    html,
    body {
        padding: 0;
        margin: 0;
    }

    html,
    body,
    .container {
        width: 100%;
        height: 100%;
    }

    /* 新手引导样式 */
    .guide {
        position: absolute;
        top: calc(50% - 10px);
        left: calc(50% - 60px);
        font-size: 18px;
        line-height: 20px;
        display: none;
    }

    /* logo图标样式 */
    .layui-icon-logo {
        background-image: url("../static/icon/crm.png");
        background-repeat: no-repeat;
        background-size: 30px;
        display: inline-block;
        width: 30px;
        height: 30px;
        vertical-align: -webkit-baseline-middle;
        margin-top: -10px;
    }

    /* 帮助手册样式 */
    .manual {
        position: relative;
        display: inline-block;
        margin-top: 0;
        list-style: none;
        vertical-align: middle;
        line-height: 58px;
    }

    /* 用户名样式 */
    #name {
        margin-right: 10px;
    }

    /* 左侧菜单栏图标样式 */
    .layui-nav-tree .layui-nav-item .layui-icon {
        padding-right: 10px;
        font-size: 18px;
    }

    /* 左侧菜单的滚动栏样式 */
    .layui-side {
        overflow: hidden !important;
    }

    .layui-side .layui-nav-tree {
        height: auto !important;
    }

    /* 内容样式 */
    .layui-body-item {
        position: absolute;
        width: calc(100% - 15px);
        height: calc(100% - 15px);
        top: 15px;
        left: 10px;
        overflow: hidden;
        overflow-y: auto;
    }

    /* iframe样式 */
    .layui-iframe {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .stepContent {
        display: none;
        height: 130px;
        text-align: center;
    }

    /* 设置下拉条样式 */
    #showTask .layui-anim-upbit {
        height: 80px;
    }

    #showAddTask .layui-anim-upbit {
        height: 80px;
    }

    #tableForIp .layui-anim-upbit {
        height: 80px;
    }

    /* 设置滚动条样式 */
    .echart_options .layui-anim-upbit {
        height: 120px;
    }

    /* 设置滚动条样式 */
    .layui-anim-upbit::-webkit-scrollbar {
        display: none;
    }

    .layui-layer-opacity {
        background-color: transparent;
        border: none;
    }

    input[name="ip_search"]+.layui-input-affix {
        line-height: 30px;
    }
</style>

<body>
    <div class="container">
        <div class="wrapper">
            <div class="layui-layout layui-layout-admin">
                <!-- 头部 -->
                <div class="layui-header">
                    <!-- logo图标 -->
                    <div class="layui-logo layui-bg-black">
                        <div>
                            <i class="layui-icon-logo"></i>
                            <span style="font-size: 18px;">资产管理系统</span>
                        </div>
                    </div>
                    <!-- 用户信息区域 -->
                    <div>
                        <ul class="layui-nav layui-layout-right">
                            <li class="manual">
                                <!-- 管理员下载管理员手册,用户下载用户手册 -->
                                <a href="/crm/api/v1/help" id="help" style="color: #fff;padding: 0 40px;">
                                    <i class="layui-icon layui-icon-read"
                                        style="font-size: 18px; padding-right: 5px;"></i>
                                    <span>使用手册</span>
                                </a>
                            </li>
                            <!-- 用户通知信息 -->
                            <li class="manual" style="margin-right: 25px;">
                                <a href="javascript:;" class="layui-icon layui-icon-email"
                                    style="font-size: 26px;color: #fbfbfb;" lay-header-event="notify">
                                    <span id="notice"></span>
                                </a>
                            </li>
                            <li class="layui-nav-item" lay-unselect>
                                <a href="javascript:;">
                                    <!-- 用户昵称 -->
                                    <span id="name"></span>
                                    <!-- 头像 -->
                                    <img id="avator" src="" class="layui-nav-img"
                                        style="border: 2px solid wheat;border-radius: 50%;">
                                </a>
                                <!-- 右上角用户选项 -->
                                <dl class="layui-nav-child">
                                    <dd style="text-align: center;">
                                        <a href="javascript:;" id="information">用户资料</a>
                                    </dd>
                                    <dd style="text-align: center;">
                                        <a href="javascript:;" id="setPassword">修改密码</a>
                                    </dd>
                                    <dd style="text-align: center;">
                                        <a href="javascript:;" id="quit">退出登录</a>
                                    </dd>
                                </dl>
                            </li>
                        </ul>
                    </div>
                </div>
                <!-- 左侧菜单区域 -->
                <div class="layui-side layui-bg-black">
                    <ul class="layui-nav layui-nav-tree" lay-filter="menu">
                        <li class="layui-nav-item layui-this">
                            <a href="javascript:;" data-url="crm_manage">
                                <i class="layui-icon layui-icon-form"></i>资产管理
                            </a>
                        </li>
                        {% if is_admin %}
                        {% if is_internet %}
                        <li class="layui-nav-item">
                            <a href="javascript:;" data-url="crm_notify">
                                <i class="layui-icon layui-icon-at"></i>到期通知
                            </a>
                        </li>
                        {% endif %}
                        {% if process %}
                        <li class="layui-nav-item">
                            <a href="javascript:;"><i class="layui-icon layui-icon-release"></i>资产流程</a>
                            <dl class="layui-nav-child">
                                <dd><a href="javascript:;" data-url="crm_process_manage">&ensp;&ensp;<i
                                            class="layui-icon layui-icon-theme"></i>流程管理</a></dd>
                                <dd><a href="javascript:;" data-url="crm_process_audit">&ensp;&ensp;<i
                                            class="layui-icon layui-icon-survey"></i>流程审批</a></dd>
                            </dl>
                        </li>
                        {% endif %}
                        <li class="layui-nav-item">
                            <a href="javascript:;" data-url="crm_user">
                                <i class="layui-icon layui-icon-user"></i>用户管理
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" data-url="crm_log">
                                <i class="layui-icon layui-icon-list"></i>操作日志
                            </a>
                        </li>
                        <li class="layui-nav-item">
                            <a href="javascript:;" data-url="crm_system">
                                <i class="layui-icon layui-icon-set"></i>系统设置
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                <!-- 内容区域 -->
                <div class="layui-body" style="padding-bottom: 15px;">
                    <div class="layui-body-item" style="min-width: 900px;">
                        <iframe src="/crm/api/v1/crm_manage" id="crm_manage" frameborder="0" border="0"
                            class="layui-iframe"></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="guide">
            <div>欢迎使用资产管理系统</div>
        </div>
    </div>
    </div>

</body>

<!-- 根据不同角色加载不同引导脚本 -->
{% if is_admin %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin_driver.js') }}"></script>
{% else %}
<script type="text/javascript" src="{{ url_for('static', filename='js/user_driver.js') }}"></script>
{% endif %}

<script type="text/javascript">
    layui.config({
        base: "{{ url_for('static', filename='layui/ext/') }}"
    }).extend({
        stepprogress: 'stepprogress/stepprogress'
    }).use(["jquery", "element", "dropdown", "form", "layer", "table", "upload", "stepprogress", "util", "laydate", "laypage"], () => {
        const element = layui.element;
        const form = layui.form;
        const layer = layui.layer;
        const $ = layui.jquery;
        const table = layui.table;
        const upload = layui.upload;
        const util = layui.util;
        const laydate = layui.laydate;
        const laypage = layui.laypage;

        window.table = table;
        window.element = element;
        window.upload = upload;
        window.form = form;
        window.$ = $;
        window.layer = layer;
        window.stepprogress = layui.stepprogress;
        window.laydate = laydate;

        // 左侧菜单点击事件
        element.on("nav(menu)", (elem) => {
            let url = elem.find("a").context.dataset.url;
            if (url) {
                // 使用iframe插入页面
                $(".layui-body-item").html(`<iframe src="/crm/api/v1/${url}" id="${url}" frameborder="0" border="0" class="layui-iframe"></iframe>`);
            }
        });

        /**
         * @description 修改密码
        */
        function setPassword () {
            layer.open({
                type: 1,
                area: ["420px", "270px"],
                title: "修改密码",
                shade: 0.6,
                shadeClose: false,
                maxmin: false,
                move: false,
                resize: false,
                content: `<div style="width: 320px;padding: 15px 0px 0px 50px;">
                            <form class="layui-form" lay-filter="setPwdForm">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="text-align: left;">旧密码</label>
                                    <div class="layui-input-block">
                                        <input type="password" name="old_password" value="" placeholder="旧密码" lay-verify="required" lay-reqtext="请填写旧密码" autocomplete="off" class="layui-input" lay-affix="eye">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="text-align: left;">新密码</label>
                                    <div class="layui-input-block">
                                        <input type="password" name="new_password" value="" placeholder="新密码" lay-verify="required|isComplex" lay-reqtext="请填写新密码" autocomplete="off" class="layui-input" lay-affix="eye">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button style="margin-top:15px;" class="layui-btn layui-btn-fluid" lay-submit lay-filter="changePwd">提交</button>
                                </div>
                            </form>
                        </div>`,
                success: (_, index) => {
                    // 表单校验规则
                    form.verify({
                        // 校验密码复杂度
                        isComplex: (value) => {
                            if (value.length < 8) {
                                return "新密码长度不能小于8位";
                            }
                            // 验证密码是否复杂
                            let passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[!@#$%^&*()_+])[A-Za-z\d!@#$%^&*()_+]{8,16}$/;
                            if (!passwordRegex.test(value)) {
                                return "新密码必须包含大小写字母、数字、特殊符号";
                            }
                        }
                    });
                    form.render(null, "setPwdForm");  // 表单渲染
                    form.on("submit(changePwd)", (data) => {
                        let field = data.field;       // 获取表单字段
                        let loadIndex = "";           // loading层的索引
                        if (field.new_password === field.old_password) {
                            layer.msg("新旧密码不能设置一样", { icon: 5 });
                            return false;
                        }
                        $.ajax({
                            url: "/crm/api/v1/user/setpwd",
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify(field),
                            beforeSend: () => {
                                loadIndex = layer.load(2);  // 显示load
                            },
                            success: (res) => {
                                layer.close(loadIndex);
                                if (res.code === 0) {
                                    layer.close(index);
                                    layer.msg("密码修改成功", { icon: 1 });
                                } else if (res.code === 302) {
                                    window.location.href = res.message;
                                } else {
                                    layer.msg(`密码修改失败: ${res.message}`, { icon: 2 });
                                }
                                return false;
                            },
                            error: (err) => {
                                layer.close(loadIndex);
                                let errMsg = err.responseJSON || JSON.parse(err.responseText);
                                layer.msg(`修改密码失败: ${errMsg.message}`, { icon: 2 });
                                return false;
                            }
                        });
                        return false;
                    });
                }
            });
        }

        /**
         * @description 设置水印
         * @param {String} text 水印文字
        */
        function setMark (text) {
            watermark.init({
                watermark_txt: text,
                watermark_x_space: 200,
                watermark_angle: 25,
                watermark_width: 120
            });
        }

        /**
         * @description 判断密码有效期
         * @param {Integer} expire 有效期天数
        */
        function getPwdState (expire) {
            // 判断密码有效期是否少于10天,少于则弹窗提示
            return () => {
                if (expire < 10) {
                    layer.confirm(`你的密码还有${expire}天过期`, {
                        title: "密码过期提醒",
                        btn: ["去修改", "知道啦"]
                    }, (index) => {
                        layer.close(index);
                        setPassword();      // 修改密码
                        return false;
                    }, (index) => {
                        layer.close(index); // 关闭页面
                        return false;
                    });
                }
            }
        }

        /**
        * @description 标为已读
        * @param {String} id 通知id
        * @param {Object} that 当前元素
        */
        function markRead (id, that) {
            let loadIndex = "";
            $.ajax({
                url: `/crm/api/v1/user/mail/read?id=${id}`,
                type: "GET",
                beforeSend: () => {
                    loadIndex = layer.load(2);
                },
                success: (res) => {
                    layer.close(loadIndex);
                    if (res.code === 0) {
                        layer.closeAll();
                        layer.msg("已标为已读", { icon: 1 });
                        loadUserMail(false);
                    } else if (res.code === 302) {
                        window.location.href = res.message;
                    } else {
                        layer.msg(`标为已读失败: ${res.message}`, { icon: 2 });
                    }
                    return false;
                },
                error: (err) => {
                    layer.close(loadIndex);
                    let errMsg = err.responseJSON || JSON.parse(err.responseText);
                    layer.msg(`标为已读失败: ${errMsg.message}`, { icon: 2 });
                    return false;
                }
            });
        }

        window.markRead = window.markRead || markRead;

        /**
         * @description 查看通知详情
         * @param {String} id 通知id
         * @param {String} hrefCondition 跳转条件
         * @param {Object} that 当前元素
        */
        function viewNotifyDetail (id, hrefCondition, that) {
            layer.closeAll();  // 关闭右侧通知详情
            // 格式化链接
            let condArray = hrefCondition.split("&");
            let condObj = new Object();
            condArray.forEach((item) => {
                let arr = item.split("=");
                condObj[arr[0]] = arr[1];
            });
            // 判断当前ifarme页面是否是crm_manage
            if (document.getElementsByTagName("iframe")[0].id !== "crm_manage") {
                // 不是则插入iframe
                $(".layui-body-item").html(`<iframe src="/crm/api/v1/crm_manage" id="crm_manage" frameborder="0" border="0" class="layui-iframe"></iframe>`);
            }
            let win = window.frames["crm_manage"];
            win.contentWindow.loadManageTable(condObj["id"], { "type": 3, "key": condObj["key"], "c": "bt", "value": condObj["value"] }, true);
            $.ajax({
                url: `/crm/api/v1/user/mail/read?id=${id}`,
                type: "GET",
                success: (res) => {
                    if (res.code === 302) {
                        window.location.href = res.message;
                    }
                    return false;
                },
                error: (err) => {
                    console.log(err);
                    return false;
                },
                complete: () => {
                    loadUserMail(false);
                }
            });
        }

        window.viewNotifyDetail = window.viewNotifyDetail || viewNotifyDetail;

        /**
         * @description 获取通知按钮
         * @param {Object} d 通知信息对象
        */
        function getBtns (d) {
            return `<div><a style="color: #829bb4;cursor: pointer;" onclick="markRead('${d.id}', this)">标为已读</a><a style="color: #829bb4;cursor: pointer;margin-left: 10px;" onclick="viewNotifyDetail('${d.id}', '${d.href}', this)">查看详情</a></div>`;
        }

        // 加载用户状态信息
        $.ajax({
            url: "/crm/api/v1/user/state",
            type: "GET",
            success: (res) => {
                if (res.code === 0) {
                    // 填充用户名
                    $("#name").text(`${res.message.name ? res.message.name : res.message.username}`);
                    // 填充头像
                    $("#avator").attr("src", res.message.avator);
                    // 判断是否显示水印
                    if (res.message.is_mark) {
                        // 如果没有昵称则设置用户名
                        setMark(`${res.message.name ? res.message.name : res.message.username}\n${res.message.ip}`);
                    }
                    // 判断是否第一次登录,第一次登录显示新手引导
                    if (res.message.is_first) {
                        // 判断是否是管理员
                        if (res.message.is_admin) {
                            admin_driver($, getPwdState(res.message.expire));
                        } else {
                            user_driver($, getPwdState(res.message.expire));
                        }
                    } else {
                        getPwdState(res.message.expire)();
                    }
                } else if (res.code === 302) {
                    window.location.href = res.message;
                }
                return false;
            },
            error: (err) => {
                console.log(err);  // 打印错误信息
                return false;
            }
        });

        /**
         * @description 加载用户通知
         * @param {Boolean} isShow 是否显示
        */
        function loadUserMail (isShow) {
            $.ajax({
                url: "/crm/api/v1/user/mail",
                type: "GET",
                success: (res) => {
                    let notify_templ = "";  // 通知信息模板
                    if (res.code === 0) {
                        if (res.message.total > 0) {
                            if (!$("#notice").hasClass("layui-badge-dot")) {
                                $("#notice").addClass("layui-badge-dot");  // 不存在则添加红点
                            }
                            if (res.message.data.today.length > 0) {  // 存在今天的通知
                                if (isShow) {
                                    // 右侧弹窗提示
                                    layer.open({
                                        type: 1,
                                        title: false,
                                        area: ["300px", "55px"],
                                        shade: false,
                                        move: false,
                                        anim: "slideLeft",
                                        // offset: "rt",
                                        offset: ["70px", "calc(100% - 300px)"],
                                        closeBtn: 0,
                                        resize: false,
                                        maxmin: false,
                                        time: 2000,
                                        content: `<blockquote class="layui-elem-quote" style="margin-bottom: 0px;">你有${res.message.data.today.length}条新的未读消息</blockquote>`
                                    });
                                }
                                res.message.data.today.forEach((item) => {
                                    notify_templ += `<div class="layui-card"><div class="layui-card-header">${item.title}</div><div class="layui-card-body">${item.detail}${getBtns(item)}</div></div>`;
                                });
                            }
                            res.message.data.history.forEach((item) => {
                                notify_templ += `<div class="layui-card"><div class="layui-card-header">${item.title}</div><div class="layui-card-body">${item.detail}${getBtns(item)}</div></div>`;
                            });
                            notify_templ = `<div class="layui-bg-gray" style="padding: 16px;" id="showNotify"><div class="layui-row">${notify_templ}</div></div>`;
                            if (res.message.total > 5) {  // 显示分页
                                notify_templ += `<div id="notify_page" style="position: fixed; bottom: 5px; padding-left: 15px;"></div>`;
                            }
                        } else {
                            if ($("#notice").hasClass("layui-badge-dot")) {
                                $("#notice").removeClass("layui-badge-dot");
                            }
                            notify_templ = `<div style="padding: 15px;">暂无未读信息</div>`;  // 无通知信息
                        }
                    } else if (res.code === 302) {
                        window.location.href = res.message;
                    } else {
                        notify_templ = `<div style="padding: 15px;">${res.message}</div>`;   // 显示错误信息
                    }
                    // 点击右侧面板显示通知信息
                    util.event("lay-header-event", {
                        notify: () => {
                            layer.open({
                                type: 1,
                                title: "通知",
                                area: ["360px", "100%"],
                                offset: "rt",
                                anim: "slideLeft",
                                move: false,
                                resize: false,
                                maxmin: false,
                                shadeClose: true,
                                scorllbar: false,
                                content: `${notify_templ}`,
                                success: () => {
                                    if (res.message.total > 5) {
                                        // 渲染分页
                                        laypage.render({
                                            elem: "notify_page",
                                            count: res.message.total,
                                            limit: 5,
                                            groups: 3,
                                            jump: (obj, first) => {
                                                if (!first) {
                                                    if (0 < obj.curr && obj.curr <= obj.pages) {
                                                        $.ajax({
                                                            url: `/crm/api/v1/user/mail?page=${obj.curr}&limit=${obj.limit}`,
                                                            type: "GET",
                                                            success: (res) => {
                                                                if (res.code === 0) {
                                                                    let notify_templ = "";  //通知信息模板
                                                                    res.message.data.today.forEach((item) => {
                                                                        notify_templ += `<div class="layui-card"><div class="layui-card-header">${item.title}</div><div class="layui-card-body">${item.detail}${getBtns(item)}</div></div>`;
                                                                    });
                                                                    res.message.data.history.forEach((item) => {
                                                                        notify_templ += `<div class="layui-card"><div class="layui-card-header">${item.title}</div><div class="layui-card-body">${item.detail}${getBtns(item)}</div></div>`;
                                                                    });
                                                                    $("#showNotify").html(`<div class="layui-row">${notify_templ}</div>`);
                                                                } else if (res.code === 302) {
                                                                    window.location.href = res.message;
                                                                }
                                                                return false;
                                                            },
                                                            error: (err) => {
                                                                console.log(err);
                                                                return false;
                                                            }
                                                        });
                                                    }
                                                }
                                            }
                                        });
                                    }
                                }
                            });
                        }
                    });
                    return false;
                },
                error: (err) => {
                    let errMsg = err.responseJSON || JSON.parse(err.responseText);
                    layer.msg(errMsg.message, { icon: 2 });
                    return false;
                }
            });
        }

        loadUserMail(true);

        // 修改用户资料
        $("#information").on("click", () => {
            layer.open({
                type: 1,
                title: "修改用户信息",
                area: ["440px", "380px"],
                shade: 0.6,
                shadeClose: false,
                maxmin: false,
                move: false,
                resize: false,
                content: `<div style="width: 320px;padding: 15px 0px 0px 60px;">
                            <form class="layui-form" lay-filter="user_info">
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="text-align: left;line-height: 50px;">头像</label>
                                    <div class="layui-input-block">
                                        <input type="hidden" value="" autocomple="off" name="avatar" id="avatar">
                                        <button type="button" id="avator_img" style="width: 50px;height: 50px;border: 1px black dotted;border-radius: 25px;background-color: white;">
                                            <img id="avator_view" style="width: 100%;height: 100%;border: 0;border-radius: 25px;"></img>
                                        </button>
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="text-align: left;">昵称</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="nickname" value="" class="layui-input" lay-affix="clear" autocomple="off">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="text-align: left;">用户类型</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="type" value="" class="layui-input" readonly style="border: 0;">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <label class="layui-form-label" style="text-align: left;">所属组织</label>
                                    <div class="layui-input-block">
                                        <input type="text" name="company" value="" class="layui-input" lay-affix="clear" autocomple="off">
                                    </div>
                                </div>
                                <div class="layui-form-item">
                                    <button style="margin-top: 15px;" class="layui-btn layui-btn-fluid" lay-submit lay-filter="modify_info">修改</button>
                                </div>
                            </form>
                        </div>`,
                success: (_, index) => {
                    form.render(null, "user_info");
                    // 填充表单
                    $.ajax({
                        url: "/crm/api/v1/user/state",
                        type: "GET",
                        success: (res) => {
                            if (res.code === 0) {
                                // 填充用户信息表单
                                $("#avator_view").attr("src", res.message.avator);
                                form.val("user_info", {
                                    "type": res.message.type === 1 ? "永久用户" : `临时用户(有效期至${res.message.expire_time})`,
                                    "nickname": res.message.name,
                                    "company": res.message.company
                                });
                            } else if (res.code === 302) {
                                window.location.href = res.message;
                            }
                            return false;
                        },
                        complete: (xhr) => {
                            // 上传头像
                            upload.render({
                                elem: "#avator_img",
                                url: "/crm/api/v1/upload",
                                accept: "images",
                                acceptMime: "image/jpeg, image/png",
                                exts: "jpg|png|jpeg",
                                before: (obj) => {
                                    // 图片预览
                                    obj.preview((index, file, result) => {
                                        $("#avator_view").attr("src", result);  // 图片链接(base64)
                                    });
                                },
                                done: (data) => {
                                    if (data.code === 0) {
                                        layer.msg("图片上传成功", { icon: 1 });
                                        $("#avatar").val(data.message);
                                    } else if (data.code === 302) {
                                        window.location.href = res.message;
                                    } else {
                                        layer.msg(`图片上传失败: ${data.message}`, { icon: 2 });
                                    }
                                }
                            });
                        }
                    });
                    // 用户修改资料
                    form.on("submit(modify_info)", (data) => {
                        let field = data.field;
                        let loadIndex = "";
                        $.ajax({
                            url: "/crm/api/v1/user/modify",
                            type: "POST",
                            contentType: "application/json;charset=utf-8",
                            data: JSON.stringify({
                                "avatar": field.avatar,
                                "nickname": field.nickname,
                                "company": field.company
                            }),
                            beforeSend: () => {
                                loadIndex = layer.load(2);
                            },
                            success: (res) => {
                                layer.close(loadIndex);
                                if (res.code === 0) {
                                    layer.close(index);  // 关闭弹窗
                                    layer.msg("修改成功", { icon: 1 });
                                    // 替换用户名和水印
                                    if (res.message.name) {
                                        $("#name").text(res.message.name);
                                        setMark(`${res.message.name}\n${res.message.ip}`);
                                    } else {
                                        $("#name").text(res.message.username);
                                        setMark(`${res.message.username}\n${res.message.ip}`);
                                    }
                                } else if (res.code === 302) {
                                    window.location.href = res.message;
                                } else {
                                    layer.msg(`修改失败: ${res.message}`, { icon: 2 });
                                }
                                return false;
                            },
                            error: (err) => {
                                layer.close(loadIndex);
                                let errMsg = err.responseJSON || JSON.parse(err.responseText);
                                layer.msg(err.message, { icon: 2 });
                                return false;
                            }
                        })
                        return false;
                    });
                }
            });
        });

        // 用户修改密码
        $("#setPassword").on("click", setPassword);

        // 用户退出登录
        $("#quit").on("click", function () {
            // 发送请求以便后台日志记录和服务器端清除session
            $.ajax({
                url: "/crm/api/v1/user/logout",
                type: "GET",
                complete: () => {
                    // 清除session和本地存储
                    sessionStorage.clear();
                    localStorage.clear();
                    // 清除cookies
                    Cookies.remove();
                    // 重定向到登录页
                    window.location.href = "/login";
                }
            });
            return false;
        });
    });

</script>
<script type="text/javascript" src="{{ url_for('static', filename='js/user_iframe.js') }}"></script>
{% if is_admin %}
<script type="text/javascript" src="{{ url_for('static', filename='js/admin_iframe.js') }}"></script>
{% endif %}

</html>
